{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": 0,
    "react/prop-types": 0
  }
}
